CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ELF_LOADER=y
CONFIG_ELF_DYNAMIC_LOAD_SHARED_OBJECT=y
CONFIG_ELF_FILE_SYSTEM_BASE_PATH="/storage/modules"
CONFIG_LITTLEFS_MAX_PARTITIONS=1
CONFIG_FREERTOS_THREAD_LOCAL_STORAGE_POINTERS=3
